{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Model</title>
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@5"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="">
    <div class="flex items-center justify-center px-4">
      <div class="w-full max-w-lg rounded-2xl shadow-xl p-4">
        <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
          Student Registration
        </h2>

        <form method="POST" class="space-y-2">
          {% csrf_token %} {{ form|crispy }}

          <button
            type="submit"
            class="w-full bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 rounded-xl transition duration-300"
          >
            Submit
          </button>
        </form>
      </div>
    </div>

    {% if datas %}
    <div class="overflow-x-auto mt-5">
      <table class="table table-zebra">
        <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Name</th>
            <th>Roll</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="text-center">
          {% for data in datas %}
          <tr>
            <th>{{data.id}}</th>
            <td>{{data.name}}</td>
            <td>{{data.roll}}</td>
            <td>{{data.fathers_name}}</td>
            <td>{{data.mothers_name}}</td>
            <td>
              <button class="btn btn-sm btn-primary">Edit</button>
              <button class="btn btn-sm btn-error">
                <a href="{% url 'delete_student' data.roll %}">Delete</a>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </body>
</html>
